---
layout: default
title: Home
---

<div class="crop">
    <img src="{{site.github_url}}/assets/img/headshot2.jpg" alt="Cropped">
</div>

<img src="{{site.github_url}}/assets/img/headshot2.jpg" style="width: 50%">

<h2 id="about">About</h2>

<div style="padding-top: 5px; padding-bottom: 5px; width: 90%; font-family: Cardo; margin-left: auto; margin-right:
auto; line-height: 1.8em;  text-align: justify; text-justify: inter-word;">
Hello world! Welcome to my personal github page. The purpose of this page to serve as a hub for publishing and communicating my open source projects and research.

I am a Computational Biologist and Software Developer working on open source tools for biomolecular design, next generation sequencing, and data science. I recently finished my PhD at Caltech. My graduate work focused on the development of conditional guide RNAs (cgRNAs), a novel technology for implementing cell-selective gene editing. Most contemporary work in CRISPR have focused on adding novel functionality via protein engineering. During my PhD, I took the less popular and unorthodoxed approach of adding new functionality via RNA engineering. By manipulating the guide RNA in clever ways, we were able to create guide RNAs that switched ON or OFF in response to an input RNA sequence. This enables us to condition the activation of CRISPR machinery against transcriptomic biomarkers in a programmable and scaleable way.

Prior to Caltech, I was working at Genentech in QC assay development and early drug discovery supporting characterization of drug potency and pharmakinetics in the cancer immunology pipeline. Prior to Genentech, I received my masters in Biomedical Engineering from the University of Michigan.

I am interested in open source software and algorithm development for applications such as biological structure prediction, biomolecular design, dna assembly, next generation sequencing, and machine learning. Outside of science, I enjoy rock climbing, mountaineering, and backcountry skiing.

You can reach the open source projects I currently support in the projects tabs above. If you wish to contact me, please reach me via linkedin. For queries related to my software projects, please reach out to me on github via the issues pages for each project.

</div>


